body{

}

h1 {
	font-family: Courier;
	border: 2px solid black;
	text-align: center;
	margin: 10px;
	padding: 10px;


}

h2 {
	font-family: sans-serif;

}

p {
	

}

.intro{
	color: red;
	font-family: Courier;

}