body{

}

h1 {
	font-family: Courier;
	border: 2px solid grey;
	text-align: center;
	padding: 10px;
	border-radius: 30px;
	max-width: 100%;



}

h2 {
	font-family: Courier;
	text-align: center;
	font-weight: lighter;

}

p {
	
text-align: center;
}

.intro{

	font-family: sans-serif;

}